


.carousel-intro-one{
    background-image: url(https://i.ibb.co/dmMfW8P/hero-right-e5d2705b7e98564ab738.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.carousel-intro-two{
    background-image: url(https://i.ibb.co/3kKBcSp/hero-right-2-cb4660d930692248be75.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.carousel-intro-three{
    background-image: url(https://i.ibb.co/QXrqGnv/hero-right-3-3563ead7c7be2a32eb30.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: bottom right;
}