

.register-email{
    background-image: url(https://ciseco-reactjs.vercel.app/static/media/BackgroundLine.2aa0910fef98274b2f4855249cd61c4c.svg);
    background-repeat: no-repeat;
    background-size: contain;
}