

.special-offer{
    background-image: url(https://ciseco-reactjs.vercel.app/static/media/Moon.bf27dc577d1acccaba48430d353dbbe0.svg);
    background-repeat: no-repeat;
    background-size: contain;
}